Repository xlsynth/bedrock-rtl: changes, and which pre-commit hooks are due for each by the changed paths.
All: verible-verilog-format, verible-verilog-lint, buildifier

verible-verilog-format:
  name: verilog format
  entry: verible-verilog-format
  args:
  - --inplace
  language: system
  pass_filenames: true

verible-verilog-lint:
  name: verilog style lint
  entry: verible-verilog-lint
  args:
  - --ruleset=default
  language: system
  pass_filenames: true

buildifier:
  name: format bazel files
  entry: buildifier
  args:
  - --mode=fix
  - --lint=warn
  language: system
  pass_filenames: true

update README
  README.adoc
Due: none

Overhaul elab/lint tools to use env vars; replace verible style tests w/ pre-commit hooks (#31)
  .bazelrc
  .pre-commit-config.yaml
  README.adoc
  arb/rtl/BUILD.bazel
  bazel/BUILD.bazel
  bazel/util.py
  bazel/verilog.bzl
  bazel/verilog_elab_test.py
  bazel/verilog_lint_test.py
  bazel/write_placeholder_tools.bzl
  counter/rtl/BUILD.bazel
  delay/rtl/BUILD.bazel
  enc/rtl/BUILD.bazel
  flow/rtl/BUILD.bazel
  macros/BUILD.bazel
  misc/rtl/BUILD.bazel
  ram/rtl/BUILD.bazel
Due: buildifier

use hermetic buildifier precommit hook
  .pre-commit-config.yaml
Due: none

Use hermetic buildifier precommit hook (#32)
  .pre-commit-config.yaml
Due: none

use hermetic verible style lint and format hooks
  .pre-commit-config.yaml
Due: none

bump verible version to latest; point at mgottscho/verible-py
  .pre-commit-config.yaml
Due: none

simplify
  .pre-commit-config.yaml
Due: none

update github actions hook to same verible version
  .github/workflows/verible_format.yml
Due: none

Use hermetic verible style lint and format hooks (#33)
  .github/workflows/verible_format.yml
  .pre-commit-config.yaml
Due: none

add missing verible version
  .github/workflows/verible_lint.yml
Due: none

Add missing verible version to lint test github action (#34)
  .github/workflows/verible_lint.yml
Due: none

Fix argument parsing bug in verilog_elab_test.py and verilog_lint_test.py
  bazel/write_placeholder_tools.bzl
Due: buildifier

Fix argument parsing bug in verilog_elab_test.py and verilog_lint_test.py (#35)
  bazel/write_placeholder_tools.bzl
Due: buildifier

fix ifdef guards in assert macro headers
  macros/br_asserts.svh
  macros/br_asserts_internal.svh
Due: verible-verilog-format, verible-verilog-lint

add "defines" argument to verilog_elab_test and verilog_lint_test with default of SV_ASSERT_ON
  bazel/verilog.bzl
  bazel/write_placeholder_tools.bzl
Due: buildifier

fix RTL elab bugs exposed by defining SV_ASSERT_ON
  delay/rtl/br_delay.sv
  delay/rtl/br_delay_nr.sv
  delay/rtl/br_delay_valid.sv
  delay/rtl/br_delay_valid_next.sv
  delay/rtl/br_delay_valid_next_nr.sv
  flow/rtl/br_flow_fork.sv
  ram/rtl/br_ram_flops_1r1w.sv
Due: verible-verilog-format, verible-verilog-lint

Add `defines` argument to `verilog_elab_test` and `verilog_lint_test` (#36)
  bazel/verilog.bzl
  bazel/write_placeholder_tools.bzl
  delay/rtl/br_delay.sv
  delay/rtl/br_delay_nr.sv
  delay/rtl/br_delay_valid.sv
  delay/rtl/br_delay_valid_next.sv
  delay/rtl/br_delay_valid_next_nr.sv
  flow/rtl/br_flow_fork.sv
  macros/br_asserts.svh
  macros/br_asserts_internal.svh
  ram/rtl/br_ram_flops_1r1w.sv
Due: verible-verilog-format, verible-verilog-lint, buildifier

WIP: br_fifo_ctrl_1r1w skeleton and SVA
  fifo/rtl/br_fifo_ctrl_1r1w.sv
Due: verible-verilog-format, verible-verilog-lint

WIP: fifo implementation
  fifo/rtl/BUILD.bazel
  fifo/rtl/br_fifo_ctrl_1r1w.sv
Due: verible-verilog-format, verible-verilog-lint, buildifier

fix bazel top
  fifo/rtl/BUILD.bazel
Due: buildifier

remove unused dep
  fifo/rtl/BUILD.bazel
Due: buildifier

fix formatter bug in br_asserts.svh
  macros/br_asserts.svh
Due: verible-verilog-format, verible-verilog-lint

Disable line length linting and formatting of macro files
  macros/br_asserts_internal.svh
  macros/br_registers.svh
Due: verible-verilog-format, verible-verilog-lint

another fix
  macros/br_asserts.svh
Due: verible-verilog-format, verible-verilog-lint

Fix verible formatting bugs in macros (#37)
  macros/br_asserts.svh
  macros/br_asserts_internal.svh
  macros/br_registers.svh
Due: verible-verilog-format, verible-verilog-lint

add flow control logic
  fifo/rtl/br_fifo_ctrl_1r1w.sv
Due: verible-verilog-format, verible-verilog-lint

Implement br_fifo_ctrl_1r1w (#38)
  fifo/rtl/BUILD.bazel
  fifo/rtl/br_fifo_ctrl_1r1w.sv
Due: verible-verilog-format, verible-verilog-lint, buildifier

fix
  macros/br_asserts_internal.svh
Due: verible-verilog-format, verible-verilog-lint

fix no-ops
  macros/br_asserts_internal.svh
Due: verible-verilog-format, verible-verilog-lint

Fix macros to pass lint when certain defines are not set (#39)
  macros/br_asserts_internal.svh
Due: verible-verilog-format, verible-verilog-lint

Make top required for lint and elab rules. But optional in impl script
  bazel/verilog.bzl
  bazel/write_placeholder_tools.bzl
Due: buildifier

reredundant move top attr from all verilog_elab_test
  arb/rtl/BUILD.bazel
  bazel/verilog.bzl
  counter/rtl/BUILD.bazel
  delay/rtl/BUILD.bazel
  enc/rtl/BUILD.bazel
  fifo/rtl/BUILD.bazel
  flow/rtl/BUILD.bazel
  misc/rtl/BUILD.bazel
  ram/rtl/BUILD.bazel
Due: buildifier

fix
  bazel/write_placeholder_tools.bzl
Due: buildifier

Make 'top' attr optional for verilog_elab_test and verilog_lint_test (#40)
  arb/rtl/BUILD.bazel
  bazel/verilog.bzl
  bazel/write_placeholder_tools.bzl
  counter/rtl/BUILD.bazel
  delay/rtl/BUILD.bazel
  enc/rtl/BUILD.bazel
  fifo/rtl/BUILD.bazel
  flow/rtl/BUILD.bazel
  misc/rtl/BUILD.bazel
  ram/rtl/BUILD.bazel
Due: buildifier

Implement br_fifo_flops
  fifo/rtl/BUILD.bazel
  fifo/rtl/br_fifo_flops.sv
Due: verible-verilog-format, verible-verilog-lint, buildifier

fix comment
  fifo/rtl/br_fifo_flops.sv
Due: verible-verilog-format, verible-verilog-lint

remove unused includes
  fifo/rtl/br_fifo_flops.sv
Due: verible-verilog-format, verible-verilog-lint

Implement br_fifo_flops (#41)
  fifo/rtl/BUILD.bazel
  fifo/rtl/br_fifo_flops.sv
Due: verible-verilog-format, verible-verilog-lint, buildifier

Use BR_NOOP in br_asserts.svh
  macros/br_asserts.svh
  macros/br_asserts_internal.svh
Due: verible-verilog-format, verible-verilog-lint

Use `BR_NOOP in br_asserts.svh (#42)
  macros/br_asserts.svh
  macros/br_asserts_internal.svh
Due: verible-verilog-format, verible-verilog-lint

Path conditions:
  verible-verilog-format: any of: \.(v|vh|sv|svh)$
  verible-verilog-lint: any of: \.(v|vh|sv|svh)$
  buildifier: any of: (\.(bzl|bazel|bzlmod)$)|WORKSPACE|MODULE|BUILD|\.bazelversion
